<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Best Cuisines</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/">Home</a>
      <a class="nav-item nav-link" href="/cuisines">Current Cuisines</a>
      <a class="nav-item nav-link" href="/cuisines/create">Add New Cuisine</a>
      <a class="nav-item nav-link" href="/restaurants">Current Restaurants</a>
      <a class="nav-item nav-link" href="/restaurants/create">Add New Restaurant</a>
    </div>
  </div>
</nav>